@import url(https://fonts.bunny.net/css?family=roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);

:root {
    --accent: #27E4EB;
    --background: #072A46;
    --secondary-background: #051D31;
    --tertiary-background: #041523;
    --header-text: #FAFAFA;
    --body-text: #DDDDDD;

    --nav-height: 75px;
    --sidebar-width: 300px;

    --astro-code-color-text: white;
    --astro-code-color-background: black;
    --astro-code-token-constant: plum;
    --astro-code-token-string: purple;
    --astro-code-token-comment: tomato;
    --astro-code-token-keyword: darkslategrey;
    --astro-code-token-parameter: coral;
    --astro-code-token-function: green;
    --astro-code-token-string-expression: chartreuse;
    --astro-code-token-punctuation: gray;
    --astro-code-token-link: firebrick;
}

@media only screen and (max-width: 1000px) {
    :root {
        --sidebar-width: 200px;
    }
}

@media only screen and (max-width: 750px) {
    :root {
        --sidebar-width: 80vw;
    }
}

* {
    margin: 0;
    box-sizing: border-box;
}

*:target{
    scroll-margin-top: calc(var(--nav-height) + 1em);
}

html {
    font-family: 'Roboto', sans-serif;
    margin-top: var(--nav-height);
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 100;
}

body {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh);
    color: var(--body-text);
    background-color: var(--background);
}

main {
    flex-grow: 1;
}

footer {
    width: 100vw;
    overflow: hidden;
    z-index: 10;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header-text);
}

p {
    color: var(--body-text);
}

a {
    color: var(--body-text);
    text-decoration: none;
}

.button-primary {
    user-select: none;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    transition: 0.3s;
    margin: 10px 0;
}

.button-primary a {
    font-size: 1.25rem;
    border-radius: 0.5em;
    padding: 10px 20px;
    background-color: var(--tertiary-background);
}

.button-primary:hover {
    transform: scale(1.1);
}

// API Docs Examples
body:not(.curl, .lbrynet, .python, .cli) .commands .example:first-of-type {
    display: block;
}

body.curl .example.curl, body.lbrynet .example.lbrynet, body.python .example.python, body.cli .example.cli {
    display: block;
}