header {
    color: var(--body-text);
    background-color: var(--tertiary-background);
}

header a {
    color: var(--body-text);
}

header nav {
    display: flex;
    justify-content: space-between;
    height: var(--nav-height);
    padding: 0 20px;
}

header .active {
    font-weight: bold;
    color: var(--accent);
}

header ul li:hover a {
    color: var(--accent);
}

.left, .right {
    display: flex;
    align-items: center;
}

.left .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.left .logo svg {
    height: 2.5rem;
    fill: #fff;
}

.left ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

header .right #menu {
    display: none;
    cursor: pointer;
}

#menu {
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: center;
    width: 2rem;
    height: 1.5rem;
    position: relative;
    /* margin: 50px auto; */
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    /*   border:1px solid red; */
}

#menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--header-text);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .2s ease-in-out;
    /*   border:4px solid black; */
}

#menu span:nth-child(1) {
    top: 0;
}

#menu span:nth-child(3) {
    bottom: 0;
}

#menu.open span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg);
}

#menu.open span:nth-child(2) {
    width: 0;
    left: 50%;
    transform: translateX(-50%);
}

#menu.open span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-45deg);
}

@media only screen and (max-width: 750px) {
    header .left ul, header  .right .search {
        display: none;
    }

    header .right #menu {
        display: flex;
        /* width: 25px; */
    }
}