---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Resources from '../components/Resources.astro';
import Featured from '../components/Featured.astro';
import Contribute from '../components/Contribute.astro';
import { Image } from "astro-preload/components";

import '../styles/index.css';

import { featured, contributions, resources, AWESOME_LBRY } from '../config';
---

<Layout>
	<div class="wrapper">
		<Hero/>
		<Resources/>
		<Featured/>
		<Contribute/>
	</div>
</Layout>