---
import Markdown from '../layouts/Collections.astro';

const frontmatter = {
    title: "Tutorials",
    description: "Find the LBRY specification, API documentation, our Contributor's guide, and more in the Resources area."
}
---

<Markdown title="Tutorials" frontmatter={frontmatter} collection="tutorials" noedit={true}>
    <h2>Setup your Development Environment</h2>
    
    <h3>Desktop Application</h3>
    <p><a href="/resources/video-lbrydesktop">Video tutorial</a> to setup the <a href="https://github.com/lbryio/lbry-desktop">Desktop app</a> development environment.</p>

    <h3>Android Application</h3>
    <p><a href="/resources/video-lbryandroid">Video tutorial</a> to setup the <a href="https://github.com/lbryio/lbry-android">Android app</a> development environment.</p>

    <h3>LBRY SDK</h3>
    <p><a href="/resources/video-lbrysdk">Video tutorial</a> to setup the <a href="https://github.com/lbryio/lbry-sdk">LBRY SDK</a> development environment.</p>

    <h3>LBRY Blockchain</h3>
    <p><a href="/resources/video-lbrycrd">Video tutorial</a> to setup the <a href="https://github.com/lbryio/lbrycrd">LBRY Blockchain</a> development environment.</p>
</Markdown>