<footer class="footer">
    <ul>
        <li>
            <a href="https://lbry.org" title="Rediscover content freedom">LBRY.org</a>
        </li>

        <li><a href="/overview" title="LBRY overview">Overview</a></li>
        <li><a href="/playground" title="Play with LBRY">Playground</a></li>
        <li><a href="/resources" title="View LBRY resources">Resources</a></li>
        <li><a href="/community" title="Hang with LBRY">Community</a></li>
    </ul>
</footer>
<style>
    footer {
        margin-top: 2rem;
        padding: 20px 20px;
        background-color: var(--tertiary-background);
    }

    footer ul {
        display: flex;
        gap: 25px;
        list-style: none;
    }
</style>