---
import '../styles/Header.css';

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {};
const { pathname } = Astro.url;

const links = [
  { name: "Overview", href: "/overview" },
  { name: "Playground", href: "/playground" },
  { name: "Resources", href: "/resources"},
  { name: "API", href: "/api"},
  { name: "Tutorials", href: "/tutorials"},
  { name: "Community", href: "/community"}
]

const isActive = (href: string)=>{
    return href === pathname || href === pathname.split('/').slice(0,2).join('/');
}

function handleMenu(e) {
  console.log(e);
}

---

<header>
  <nav class="navigation">
    <div class="left">
      <a class="logo" href="/" title="LBRY homepage">
        <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.803, 6.045l0, 0.705l-6.941, 4.265l-5.23, -2.565l0.01, -0.395l5.201, 2.56l6.61, -4.06l-0.001, -0.29l-6.24, -3.01l-6.96, 4.305l0, 1.925l6.59, 3.26l6.722, -4.123l-0.362, -0.062l0.04, -0.245l0.856, 0.145l-0.14, 0.875l-0.245, -0.04l0.06, -0.382l-6.911, 4.232l-6.959, -3.44l0, -2.34l7.29, -4.51l6.61, 3.19Z"/>
        </svg>
        <span><strong>LBRY Tech</strong></span>
      </a>
      <ul>
        {links.map((link) => (
          <li><a class:list={[isActive(link.href) ? "active": ""]} href={link.href} title={link.name}>{link.name}</a></li>
        ))}
      </ul>
    </div>
    <div class="right">
        <div class="search"><p>Search TODO</p><script>
          // Astro will do the job of bundling everything for you
          import { getOramaDB, search } from "@orama/plugin-astro/client"
      
          // We load the DB that we generated at build time, this is an asynchronous
          // operation, so we must either await, or rely on `.then` calls.
          const db = await getOramaDB('mydb')
      
          // Now we can search inside our DB. Of course, feel free to use it in more
          // interesting ways.
          console.log('Search Results')
          console.log(await search(db, { term: 'blob' }))
        </script></div>
        <btn id="menu">
            <span></span>
            <span></span>
            <span></span>
        </btn>
    </div>
  </nav>
</header>
<script>
    const btn = document.querySelector('#menu');

    btn.addEventListener('click', () => {
        btn.classList.toggle('open');
        document.querySelectorAll('.sidebar').forEach(sidebar=>{
            sidebar.classList.toggle('active');
        })
    });
</script>
<style>
    
</style>