---
// TableOfContents.astro
import TableOfContentsHeading from "./TableOfContentsHeading.astro";
import TocItem from '../utils/generateToc.ts';
const { headings, edit } = Astro.props;
import { REPOSITORY, edit_page } from "../config";

const toc = headings && headings.length ? TocItem(headings) : [];

console.log(edit);

---

<section class="toc">
    <div class="container">
        <summary><p id="on-this-page">On this page</p></summary>
        <nav>
            <ul>
                {toc.map((heading) => <TableOfContentsHeading heading={heading}/>)}
            </ul>
        </nav>
    </div>
</section>
<style is:inline>
    .toc {
        position: fixed;
        width: var(--sidebar-width);
        height: 100vh;
        overflow-y: auto;
        inset-block: 0;
        inset-inline-end: 0;
        padding-top: var(--nav-height);
        background-color: var(--secondary-background);
        transition: 0.3s;
        z-index: 10;
    }

    .toc .container {
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 0;
    }

    .toc .container summary {
        font-weight: bold;
    }

    .toc .container nav {
    }
    
    .toc ul {
        list-style: none;
        padding-inline-start: 0;
    }
    
    .toc .container nav > ul {
        margin: 0.5rem;
        border-left: 1px solid var(--background);
    }

    .toc ul li:hover {
        font-size: 0.785rem;
        /* border-left: 1px solid var(--header-text); */
    }
</style>